* {
    box-sizing: border-box;
}



p {
    font-size: 45px;
}
.bigDiv {
   height: 100px;
   background-color: pink;
   width: 100px;
    /* position: relative:*/
}

#childDiv{
    height: 50px;
    width: 50px;
    background-color: cornsilk;
}


.bigDiv div {
    height: 50px;
    width: 50px;
    background-color: peachpuff;
    position: relative;
    top: 10px;
    left: 10px;
    border: 3px solid green;
}
nav div{
      height: 50px;
    width: 50px;
    background-color: peachpuff;
    display: inline-block;
}
.bigDiv .offThePage{
    position: absolute;
    top: 100px;

}
nav {
    height: 200px;
    width: 200px;
    padding: 30px 10px;
    margin: 30px auto;
    border: 3px solid black;
    box-sizing: border-box;
    text-align: center;
}
main article{
    font-size: 20%;
    font-family: dummy text;
    height: 200px;
    width: 20%;
    padding: 30px 10px;
    margin: 5%;
    border: 3px solid black;
    float: left;
}
footer{
    clear: both;
}

.clearfix{ clear: both;}

figure {
    float: left;
}
section{
    width: 70%;
    background-color: deepskyblue;
    overflow: hidden;
    float: left;
}
aside {
    background-color: red;
    height: 500px;
    width: 200px%;
    float: right;
}
footer{
    height: 100px;
    background-color: purple;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
}
header{
    font-size: 200px;
    font-family: fantasy;
    text-align: center;
    background-color: aquamarine;
}
