



input{
    display: block;
    margin: 20px;
}
input[type="checkbox"], input[type="radio"]{
    display: inline-block;
    margin: 10px;

}
input: focus{
    box-shadow: 0 0 5PX #111;
}
input:invalid{
    color: red;
}
input:valid{
    color: green;
}
input: required{
    border: 3px solid purple;
}
#circle{
    background: hsl(0, 50%, 50%);
    width: 200px;
    height: 200px;
    margin: 100px auto;
    position: relative;
}
#circle::after{
    content: attr(data-color);
    position: absolute;
    height: 50%;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(225, 225, 225, .5);
    display: none;
}
#circle:hover:after{
    display: block;
}
