img
{
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto auto;
}

body {
  /* Location of the image */
  background-image: url(color.jpg);


  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

     background-image:
        linear-gradient(rgba(46, 179, 214, 0.60), rgba(67, 204, 152, 0.60)),
        url('color.jpg');

}

Header{
    color: white;
    font-family: 'Quicksand';
    font-size: 80px;
    text-align: center;
    margin: 30px;




}


#navbar{

    Color: white;
    text-decoration: none;
    padding 40px;
    text-align: center;
    margin: 30px;
    font-family: 'Quicksand';

}
#linkref{
    color: white;
    text-decoration: none;
    padding: 15px;
}
