
.red {
    background-color: rgb(255, 0, 0);
    opacity: .5;
}


.blue {
    background: rgba(200, 10, 255, .5);
}
.green {
    background: rgb(0, 255, 0);
}
.grey {
    background: hsla(150, 5%, 45%, 1);
}
.orange {
    background-color: hsl(30, 100%, 50% .5);
    position: relative;
    right: 100px;
}
.yellow{
    background-color: hsla(61, 95%, 65%, 0.85);
}
div {
   width: 300px;
    height 300px;
    margin: 20px;
    float: left;
}



div {
    width: 300px;
    height: 300px;
    margin: 20px;
    float:left;
}
