*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #56CCF2;

}

header {
    height: 56px;
    background-color: #2F80ED;
    position: relative;


}

nav {
    height: 29px;
    background-color: #F2F2F2;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 15px;

}
.logo{
    font-size: 20px;
    color: white;
    margin: 0 15px;
}

main{
    width: 370px;
    background-color: #1960C0;
    margin: 76px 0 0 18px;
    height: 242px;
    position: relative;
    float: right;
}

aside{
    width: 150px;
    margin: 70px;
    height: 254px;
    background-color: #1960C0;
   position: relative;
    float: right;
}


footer {
     height: 222px;
    width: 100%;
    background-color: #2F80ED;
     position: absolute;
    bottom: 0;
}
