body, h1, p {
    font-size; 26px;
    margin: 0;
    padding: o;
}

header{
    height: 80px;
    width: 100%;
    background-color: darkgray;
    font-size: 35px;
    text-align: center;
    color: white;
}

h1 {
   color: deeppink;
    margin: 50px 0 25px 0;
    text-align: center;
    font-family: cursive;
    text-decoration: underline;

}
h2{
    color: pink;
    font-family: cursive;
    font-size: 20px;

}
ol{
    Background-color: pink;
    width: 70px;

}
h3{
        color: pink;
    font-family: cursive;
    Font-size: 20px;
}
body {
    color: black;

}

p {
   font-family: cursive;
    font-size: 17px;
}


