#circle{
    width: 200px;
    height: 200px;
    background: crimson;
    cursor: pointer;
    border-radius: 100px;
    text-align: center ;
    color: white;
}




#circle::after{
    content: attr(data-color);
}





